<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sun.study">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:name=".MainApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar" >

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="89f4f435727d68fa30c02063b140e81a"/>

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 崩溃信息 -->
        <activity android:name=".ui.activity.CrashActivity"
                  android:screenOrientation="portrait"/>

        <!-- OkHttp -->
        <activity android:name=".ui.activity.OkHttpActivity"
                  android:screenOrientation="portrait"/>

        <!-- Retrofit -->
        <activity android:name=".ui.activity.RetrofitActivity"
                  android:screenOrientation="portrait"/>

        <!-- 高德地图 -->
        <activity android:name=".ui.activity.AmapActivity"
                  android:screenOrientation="portrait"/>

        <!-- RxJava -->
        <activity android:name=".ui.activity.rxjava.RxJava1Activity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.rxjava.RxJava2Activity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.rxjava.RxJava3Activity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.rxjava.RxJava4Activity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.rxjava.RxJava5Activity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.rxjava.RxJava6Activity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.rxjava.RxJava7Activity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.rxjava.RxJava8Activity"
                  android:screenOrientation="portrait"/>

        <!-- 购物车 -->
        <activity android:name=".ui.activity.ShoppingViewActivity"
                  android:screenOrientation="portrait"/>

        <!-- Fresco -->
        <activity android:name=".ui.activity.FrescoActivity"
                  android:screenOrientation="portrait"/>

        <service android:name="com.amap.api.location.APSService"/>

    </application>

</manifest>
